{% extends 'shop/layouts/main.html' %}
{% block title %}
Registration | StepInStyle
{% endblock title %}
{% block content %}
<div class="container" style="margin-top: 70px;">
    <div class="row">
        <div class="col-12">
            <h1>Register Page</h1>
        </div>
    </div>
</div>
{% endbloack content %}